# dependencies
/node_modules

# testing
/coverage
coverage.json

# next.js
.next
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# secrets
.secret
*.env

# vercel
.vercel

node_modules

# Hardhat files
cache
artifacts

# auto generated
typechain
typechain-types
out*

# Forge files
cache/
out/
foundry-cache/
bin/

# Ignores development broadcast logs
!/broadcast
broadcast/
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env
